/* largeur maximale du site
#app .row {
  max-width: 70rem;
}
*/

#app,h1, h2, h3, h4, h5, h6 {
  font-family: 'Avenir', Helvetica, Arial, sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}

header {
  text-align:center;
  margin-top:1rem;
}

header .small {
  text-transform: lowercase;
}

#site-title {
  font-size:1.5rem;
  text-transform:uppercase;
}

#site-subtitle {
  font-size:1rem;
  margin-bottom:0.5rem;
  text-transform:uppercase;
}

.app-version {
  font-style:italic;
  font-size:0.9rem;
  margin:auto;
  margin-bottom:1rem;
}

footer {
  text-align:center;
  margin-bottom:3rem;
}

h1 {
  font-size:1.9rem;
  text-align:center;
  text-transform:uppercase;
  margin-bottom:2rem;
}

h2 {
  font-size:1.3rem;
  text-transform:uppercase
}

h3 {
  font-size:1.2rem;
  text-align:center;
}

.router-view {
  margin-top:1.5rem;
}

.navigation {
  padding-bottom:1rem;
}

.navigation a {
  text-transform:uppercase;
}

.navigation a.router-link-active {
  border-bottom: solid #1779ba 1px;
}

.big-picture {
  border-top:1px solid silver;
  border-bottom:1px solid silver;
  margin:2rem;
  text-align:center;
  padding:1rem;
  padding-top:1.2rem;
}

.big-picture h2 {
  text-transform:uppercase;
  font-weight:bold
}

.big-picture .result {
  font-weight:bold;
  font-size:2rem;
}

.result {
  color:inherit;
}

.result.success {
  color:green;
  transition:all 1s;
}

.result.alert {
  color:red;
  transition:all 1s;
}

.total, .subtotal, .sub-subtotal {
  font-weight:bold;
}

.sub-subtotal {
  background-color:#f8f8f8;
}

.subtotal {
  background:rgb(240,240,240);
}

.total {
  background:rgb(240,240,240);
  font-size:1.5rem;
  text-transform:uppercase;
}

table {
  border-collapse:collapse;
  border: solid black 1px;
}

.simulator-form .submit-button {
  text-transform: uppercase;
  font-weight: bold;
  width: 100%;
  border-radius:5px;
}

.simulator-form .label {
  text-transform:uppercase;
}

.showDetails {
  font-weight: normal;
}

table tr:nth-of-type(even) {
  background-color: transparent !important;
}

.lines-results__result__details {
  font-style: italic;
  color: #888;
  font-size: .9em;
}

.lines-results__result__total td {
  border-top: 1px solid #BBB;
}

.montant {
  text-align:right;
}

.simulateur-charts canvas{
  height:200px !important;
  width:200px !important;
}

/**
 YINEO-TOOLTIP
 */

.yineo-tooltip {
  z-index:999;
}

.simulator-form .yineo-tooltip {
  position:relative;
  top:28px;
  left:-6px;
}

.lines-results .CATTC {
  font-size: 1.2rem;
}

.big-picture .yineo-tooltip {
  position:relative;
  top:-5px;
  left:10px;
}


/* Medium and up */
@media screen and (min-width: 40em) {
  /**
 YINEO-TOOLTIP
 */
  .simulator-form .yineo-tooltip {
    position:relative;
    top:28px;
    left:-20px;
  }

}
